In [1]:
#function
#user_input

#l=[2,3,4,5,6,7]

l=[]

#1st process
n=int(input("Enter the count of values you want to add in the list : "))
for i in range(n):
    v = int(input("Enter the number: "))
    l.append(v)

print(l)

[1, 10, 11, 12, 14]

In [2]:
#2nd process
#n=int(input("Enter the count of values you want to add in the list : "))
n=1
while(n>0):
    v = int(input("Enter the number: "))
    if (v==0):
        break
    l.append(v)

print(l)

[1, 10, 11, 12, 14, 1, 5, 20, 25, 14]

In [4]:
l=[1,2,3,4,5]
p = l.copy()
print(p)

[1, 2, 3, 4, 5]

In [7]:
l=[1,2,3,3,3,3,4,5]
p=l.count(3)

print(p)

4

In [10]:
l=[1,2,3,4,5]
p=l.index(3)

print(p)

2

In [11]:
l=[1,2,3,3,3,3,4,5]
p=l.index(3)

print(p)

2

In [12]:
l=[1,2,3,4,5]
p=l.pop(4)
print(l)

[1, 2, 3, 4]

In [13]:
l=[1,2,3,4,5]
l.insert(2,20)
l

[1, 2, 20, 3, 4, 5]

In [14]:
l.remove(20)
l

[1, 2, 3, 4, 5]

In [18]:
l=[10,10,10,2,4,5,10,5,10]
#l.remove(10)
l.pop(6)
print(l)

[10, 10, 10, 2, 4, 5, 5, 10]

In [19]:
l=[10,15,5,4,3,2,1,1,1,1,0]
l.pop(8)
l

[10, 15, 5, 4, 3, 2, 1, 1, 1, 0]

In [22]:
l=[10,15,5,4,3,2,1,1,1,1,0]
l.reverse()
l

TypeError: reverse() takes no arguments (1 given)

In [24]:
l=[10,15,5,4,3,2,1,1,1,1,0]
l.sort(reverse=True)
l

[15, 10, 5, 4, 3, 2, 1, 1, 1, 1, 0]

In [25]:
l=[10,15,5,4,3,2,1,1,1,1,0]
l.sort()
l

[0, 1, 1, 1, 1, 2, 3, 4, 5, 10, 15]

In [27]:
l=[10,15,5,4,3,2,1,1,1,1,0]
l.clear()
l

[]

In [31]:
#maximum and minimum number in a list

l = [51,27,89,45,61,14]

l.sort()
print(l[0])

14

In [33]:
l = [51,27,89,45,61,14]

print(max(l))
print(min(l))

89
14

In [34]:
l = [51,27,89,45,61,14]

maximum_value=0
for i in l:
    if(i>maximum_value):
        maximum_value=i
print(maximum_value)

89

In [36]:
#common elements in a list
l = [1,2,3,2,1]
l2 = [3,1,5]
l3=[]

for i in l:
    if i in l2:
        if i in l3:
            pass
        else:
            l3.append(i)
print(l3)

[1, 3]

STRING

In [37]:
#mention string
# '' -> single quote
# "" -> double quote
v = "DataSpace"

In [38]:
v[0]

'D'

In [39]:
v[5]

'p'

In [40]:
v[10]

IndexError: string index out of range

In [42]:
#string slicing
v='dataspace academy'
v[10:17]

'academy'

In [43]:
v[9]

' '

In [44]:
v='dataspace academy'
v[4:9]

'space'

In [45]:
v[::-1]

'ymedaca ecapsatad'

In [47]:
#string concatenation
s= 'data'
s1 ='space'

print(s+' '+s1)

data space

In [50]:
#print each element in a string
s= 'data'

for i in s:
    print(i,end="")

data

In [52]:
#print only vowels from a string
v= 'Umbrella'
for i in v:
    i=i.lower()
    if(i=='a' or i=='e' or i=='i' or i=='o'or i=='u' ):
        print(i)

u
e
a

In [53]:
s = 'dAtA'
s.lower()

'data'

In [54]:
#count vowels and consonents from a string( User Input )
s= input()
count_vowel=0
count_cons=0

for i in s:
    i=i.lower()
    if(i=='a' or i=='e' or i == 'i' or i=='o' or i=='u'):
        count_vowel+=1

    else:
        count_cons +=1

print('vowel count', count_vowel)
print('consonent count ', count_cons)

vowel count 3
consonent count  5

In [56]:
s = 'dataspace'

s.capitalize()

'Dataspace'

In [59]:
s.endswith('g')

False

In [60]:
s.upper()

'DATASPACE'

In [61]:
s.lower()

'dataspace'

In [62]:
s.isalpha()

True

In [64]:
s= '1234'
s.isalpha()

False

In [65]:
s.isdigit()

True

In [66]:
s.isalnum()

True

In [69]:
s='dataspace1234'
s.isalnum()

True

In [72]:
s.count('a')

3