In [2]:
import pandas as pd
import numpy as np

popularity = {"character":["spiderman", "spiderman","superman", "superman", "ironman", "ironman","ironman","jerry","jerry", "tom", "tom"],
             "popularity":["first","second","third","fourth","fifth","fifth","first","second","third","fourth","fifth"],
             "score1":[60,57,46,59,44,45,60,57,43,59,47],
             "score2":[60,57,46,59,45,47,60,57,42,59,47],
             "gender":['male','male','male','male','male','male','male','female','female','male','male']}


dataframe1 = pd.DataFrame(popularity, columns=pd.Index(['character','popularity','score1','score2','gender'], name='Attributes'))

In [5]:
dataframe1

Attributes  character popularity  score1  score2  gender
0           spiderman      first      60      60    male
1           spiderman     second      57      57    male
2            superman      third      46      46    male
3            superman     fourth      59      59    male
4             ironman      fifth      44      45    male
5             ironman      fifth      45      47    male
6             ironman      first      60      60    male
7               jerry     second      57      57  female
8               jerry      third      43      42  female
9                 tom     fourth      59      59    male
10                tom      fifth      47      47    male

In [7]:
#rank method to generate ranks based on attribute
dataframe1['score1'].rank(ascending=False)

0      1.5
1      5.5
2      8.0
3      3.5
4     10.0
5      9.0
6      1.5
7      5.5
8     11.0
9      3.5
10     7.0
Name: score1, dtype: float64

In [8]:
dataframe1['rank1'] = dataframe1['score1'].rank(ascending=False)

In [9]:
dataframe1

Attributes  character popularity  score1  score2  gender  rank1
0           spiderman      first      60      60    male    1.5
1           spiderman     second      57      57    male    5.5
2            superman      third      46      46    male    8.0
3            superman     fourth      59      59    male    3.5
4             ironman      fifth      44      45    male   10.0
5             ironman      fifth      45      47    male    9.0
6             ironman      first      60      60    male    1.5
7               jerry     second      57      57  female    5.5
8               jerry      third      43      42  female   11.0
9                 tom     fourth      59      59    male    3.5
10                tom      fifth      47      47    male    7.0

In [12]:
#get the minimum value index
dataframe1['score1'].idxmin()

8

In [13]:
dataframe1['score1'][dataframe1['score1'].idxmin()]

43

In [14]:
dataframe1['score1'].idxmax()

0

In [15]:
dataframe1['score1'][dataframe1['score1'].idxmax()]

60