In [ ]:
#Loop 
#Question 1
'''
check the addition of even number from 1-50 and 
check the sum of odd numbers from 51 -100 (inclusive) and find the the
ultimate sum of two outputs

'''

In [1]:
#event
count =0
for i in range (2,51):
    if i%2==0:
        count+=i

for i in range(51,101):
    if i%2 !=0:
        count +=i

print(count)

2525

In [ ]:
'''
Question 2
list = [5,8,7,1,2,1,4,'dataspace','academy']
Display the numbers of variables in a list using loop
in a single line
'''

In [3]:
l = [5,8,7,1,2,1,4,'dataspace','academy']
for i in l:
    if(type(i))==str:
        break
    else:
        print(i,end=" ")

5 8 7 1 2 1 4

In [ ]:
'''
Question 3
find the sum of the digits in a number

'''

In [6]:
n = 1235
sum=0

while(n>0):
    t = n%10
    sum += t
    n = n//10

print(sum)

11

In [ ]:
#print the multiplication of a table of 2