In [6]:
#create a list and read every element
l=[1,2,3,4,5]
for i in l:
    print(i,end=" ")

1 2 3 4 5

In [7]:
#ENTEND VS APPEND
l.append(6)

In [8]:
l

[1, 2, 3, 4, 5, 6]

In [9]:
#list within list [1,2,3,4,5,6,[7,8,9,10]]
l.append([7,8,9,10])
l

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10]]

In [11]:
l.extend([11,12,13,14])
l

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10], 7, 8, 9, 10, 11, 12, 13, 14]

#TUPLE

In [12]:
l=[1,2,3] #list
t=(1,2,3) #tuple

In [13]:
l[2]

3

In [15]:
t[2]

#data accessing is similar in both list and tuple

3

In [19]:
#slicing
l = [1,2,3,4,5,6,7,8,9,10]
t=(1,2,3,4,5,6,7,8,9,10)

l[2:8]
t[0:3]

(1, 2, 3)

In [20]:
l.append(11)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [21]:
l[3]=40
l

[1, 2, 3, 40, 5, 6, 7, 8, 9, 10, 11]

In [22]:
t[3]=40
t

TypeError: 'tuple' object does not support item assignment

In [23]:
#tuple is immutable and list is mutable

In [24]:
a="Diwali"
for i in a:
    print(i)

D
i
w
a
l
i

In [25]:
a[3]

'a'

In [26]:
a[3]='o'

TypeError: 'str' object does not support item assignment

In [27]:
#string is also an immutable object

In [28]:
#for loop in tuple and list
l=[1,2,3,4,5]
for i in l:
    print(i,end=" ")

1 2 3 4 5

In [35]:
t=(1,2,3,4,5)
for j in range(len(t)):
    print(t[j])

1
2
3
4
5

In [36]:
#index and count in tuple
t=(1,2,3,4,5,5,5,5)
t.count(5)

4

In [37]:
t.index(5)

4

In [40]:
#tuple concatination
t1 = (1,2,3)
t2 =(4,5,6)

t=t1+t2

In [41]:
#add data in tuple
l=list(t)
l

[1, 2, 3, 4, 5, 6]

In [50]:
#FUNCTION

def add(a,b):
    return(a+b)

In [51]:
add(5,5) + 5

15

In [48]:
add(10,5)

15

In [52]:
type(print())

NoneType

In [53]:
#check if a number is prime or not using function
#a number is divisible by 1 and itself only then the number is called a prime no.

def is_prime(num):
    for i in range(2,num):
        if num%i == 0:
            print("Its not a prime no.")
            break
    
    else:
        print("Its a prime no.")

In [54]:
is_prime(7)

Its a prime no.

In [55]:
#write a python function to find maximum of 2 numbers

def max_two(a,b):
    if (a>b):
        return a
    else:
        return b
    
max_two(15,10)

15

In [56]:
def max_three(a,b,c):
    return max_two(a,max_two(b,c))

In [57]:
max_three(16,25,30)

30