In [1]:
#dictonary

my_dict = {

    "Sourav": 5674,
    "Naveen": 7489,
    "Sanju": 4789
}

print(my_dict)

{'Sourav': 5674, 'Naveen': 7489, 'Sanju': 4789}

In [2]:
#accesing item from dict
print(my_dict["Sourav"])

5674

In [ ]:
'''
- Ordered
- changeable
- don't allow duplicates


'''

In [3]:
#don't allow duplicates
my_dict1 = {

    "Sourav": 5674,
    "Sourav": 5675,
    "Naveen": 7489,
    "Sanju": 4789
}

print(my_dict1)

{'Sourav': 5675, 'Naveen': 7489, 'Sanju': 4789}

In [4]:
#length
len(my_dict1)

3

In [5]:
#type()

type(my_dict1)

dict

In [7]:
#constructor
new_dict = dict(name='dataspace',address='saltlake',city='kolkata')
print(new_dict)

{'name': 'dataspace', 'address': 'saltlake', 'city': 'kolkata'}

In [9]:
#accessing items with get()
v = my_dict.get("Naveen")

print(v)

7489

In [10]:
#keys()
k= my_dict.keys()
print(k)

dict_keys(['Sourav', 'Naveen', 'Sanju'])

In [11]:
#Add a key value pair
my_dict["Shirin"]=5684

print(my_dict)

{'Sourav': 5674, 'Naveen': 7489, 'Sanju': 4789, 'Shirin': 5684}

In [13]:
#values()
v1 = my_dict.values()

print(v1)

dict_values([5674, 7489, 4789, 5684])

In [15]:
#create a dictionary of a car
# brand - kia, model - seltos, year - 2023, colour - cream

car = {
    "brand": 'kia',
    'model':'seltos',
    'year': 2023,
    'colour':'cream'
}

print(car)

{'brand': 'kia', 'model': 'seltos', 'year': 2023, 'colour': 'cream'}

In [17]:
#items()
x=car.items()
print(x)

dict_items([('brand', 'kia'), ('model', 'seltos'), ('year', 2023), ('colour', 'cream')])

In [18]:
#change a value
car['year'] = 2021
print(x)

dict_items([('brand', 'kia'), ('model', 'seltos'), ('year', 2021), ('colour', 'cream')])

In [19]:
#if-else in a dict

if "brand" in car:
    print("yes it exists")

yes it exists

In [20]:
#update()
car.update({"year":2000})

print(car.items())

dict_items([('brand', 'kia'), ('model', 'seltos'), ('year', 2000), ('colour', 'cream')])

In [21]:
#pop()
car.pop('year')
print(car)

{'brand': 'kia', 'model': 'seltos', 'colour': 'cream'}

In [22]:
car.popitem()
print(car)

{'brand': 'kia', 'model': 'seltos'}

In [23]:
#clear()
car.clear()
print(car)

{}

In [24]:
#to delete the entire dict
del car
print(car)

NameError: name 'car' is not defined

In [25]:
#looping in a dict
car = {
    "brand": 'kia',
    'model':'seltos',
    'year': 2023,
    'colour':'cream'
}

for x in car:
    print(x)

brand
model
year
colour

In [26]:
#for values
for x in car:
    print(car[x])

kia
seltos
2023
cream

In [27]:
gari = car.copy()
print(gari)

{'brand': 'kia', 'model': 'seltos', 'year': 2023, 'colour': 'cream'}

In [ ]:
car={
    "brand": "Ford",
    "model": "Kuch bhi",
    "year":2000
}

In [ ]:
#SET

'''
- unordered
- unindexed
- no duplicates
'''

In [29]:
my_set={'apple','apple','apple','guava','mango'}
print(my_set)

{'apple', 'mango', 'guava'}

In [33]:
#True and 1
my_new_set={"apple","banana",True,1,0,False}
print(my_new_set)

{'banana', 'apple', True, 0}

In [34]:
#len()
print(len(my_new_set))

4

In [35]:
type(my_new_set)

set

In [36]:
#set constructor
my_new_set=set(("data","space","academy","academy"))
print(my_new_set)

{'space', 'data', 'academy'}

In [37]:
for x in my_new_set:
    print(x)

space
data
academy

In [38]:
if 'academy' in my_new_set:
    print("yes it present")

yes it present

In [39]:
my_new_set.add("python")
print(my_new_set)

{'space', 'python', 'data', 'academy'}

In [42]:
#update
l1= ['java','cyber','data science']
my_new_set.update(l1)
print(my_new_set)

{'cyber', 'space', 'data', 'python', 'java', 'academy', 'data science'}

In [44]:
#Join Two Sets
#Union

set1 = {1,2,3,4}
set2= {5,6,7,8}

set3=set1.union(set2)

print(set3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
A = { 1,2,3}
B= {4,5,3}

C = A.union(B)
print(C)

{1, 2, 3, 4, 5}

In [ ]:
A = { 1,2,3}
B= {4,5,3}

C = A.intersection(B)
print(C)

In [52]:
A= {1,2,3,4,5}
B={3,4,5}

print(B.issubset(A))

True

In [54]:
#Try and Except - Exception Handling

try:
    print(r)
except NameError:
    print("variable v is not defined")
except:
    print("something else went wrong")

variable v is not defined

In [55]:
print(r)

NameError: name 'r' is not defined

In [ ]:
#End of python