In [3]:
x=11

while(x<100):
    x*=2
print(x)

176

In [4]:
a="diwali"
b="happy diwali"

if(len(a)==len(b)):
    print("equal")
else:
    print("not equal")

not equal

In [6]:
while(True):
    n=int(input())
    m=int(input())

    if((n+m)>=100):
        continue
    
    else:
        print(n+m)
        break

70

In [ ]:
'''
while(condition):
    -
    -
    -
    -
'''

In [7]:
#find the summation of numbers from 1-20
i=20 
sum=0
while(i>0):
    sum=sum+i
    i=i-1

print(sum)

210

In [9]:
#find the summation of odd numbers from 1-5
i=5
sum=0
while(i>0):
    if(i%2 != 0):
        sum=sum+i
    i=i-1

print(sum)

9

In [10]:
#write a program to print first 10 natural number in reverse order
i=10
while(i>0):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [12]:
#Break and Continue

'''
Print First 10 natural numbers except 4 and 6
'''
i=0
while(i<11):
    i=i+1
    if(i==4):
        continue
    if(i==6):
        continue
    print(i)

1
2
3
5
7
8
9
10
11

In [13]:
#Print the 1st 5 natural number with its square
i=5
while(i>0):
    print(i,i**2)
    i=i-1

5 25
4 16
3 9
2 4
1 1

In [15]:
#star pattern

for i in range(0,5):
    for j in range(0,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
#Square Pattern 
for i in range(5):
    for j in range(5):
        print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [18]:
#left triangle pattern
for i in range(0,5):
    for j in range(i,5):
        print('*',end=" ")
    print(" ")

* * * * *
* * * *
* * *
* *
*